.itemsIcons{
    background-color: transparent;
    border: 1px solid transparent;
}
.rotate{
    transform: rotate(-45deg);
}
p{
    margin: 0px;
}
.containerProduct{
    display: flex;
    justify-content: space-between;
}