<li *ngIf="itemCart" class="list-group-item mt-1 mb-1">
    <div class="containerProduct">
        <p class="text-center w-10 fs-4"> {{itemCart.nombre}}   </p>
        <button class="itemsIcons w-10" (click)="deleteItem(itemCart)"><i class="fas fa-plus-circle rotate fs-5"></i></button>
    </div>
    <div class="containerProduct">
        <div class="col-sm">
            <button type="button" (click)="minus()" class="w-10 itemsIcons"><i class="fas fa-minus-circle fs-5"></i></button>
            <input readonly type="text" [value]="itemCart.cantidad" class="w-25 text-center fs-4"/>
            <button type="button" (click)="plus()" class="w-10 itemsIcons"><i class="fas fa-plus-circle fs-5"></i></button>
        </div>
        <div class="col-sm">
            <span class="fs-4">{{itemCart.total | currency }}</span>
        </div>
    </div>
</li>