.container{
  margin-top: 3vh;
}

/*pendiente, listo*/
.title{
  background-color: var(--color-orange);
  font-weight: 500;
  padding: 0;
}


p{
  font-family: var(--font-main);
  margin-bottom: 0;
  margin: 0 0.5rem;
}

span{
  width: 10%;
}

li{
  user-select: none;
}

.timer{
  color: var(--color-white);
}

.btn:focus{
  box-shadow: none;
}
.btn{
  font-family: var(--font-main);
  color: var(--color-white);
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 80% !important;
}

.btnMenu{
  background-color: var(--color-orange);
  font-size: 24px;
}
.btn:focus{
  box-shadow: none;
}

.btnProcess{
  background-color: #1CA10D;
}
.btnDispatch{
  background-color: #FA4036;
}

.tablePending{
  background-color: #8a02007c;
  border: 10px solid var(--color-red) !important;
  cursor: move;
}
.tableReady{
  background-color: #fe95257c;
  border: 10px solid var(--color-orange) !important;
}

.example-list {
  /* border: solid 1px #ccc; */
  min-height: 60px;
  /* background: white; */
  /* border-radius: 4px;
  overflow: hidden;
  display: block; */
}