<div class="col-sm mt-2">
  <p class="text-end fs-1 timer">HORA 00:00:00</p>
</div>

<div class="row  mx-auto container">
  <div class="col-lg">
    <div class="col-lg mt-2 rounded-pill title mx-auto d-block">
      <p class="text-center fs-1">Pendiente</p>
    </div>
    <ul class="list-group table-pendiente mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center mt-1 mb-1">
        Sandwich de jamón y queso
        <p>00:00:00</p>
        <span class="border border-secondary rounded">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center mt-1 mb-1">
        Sandwich de jamón y queso
        <p>00:00:00</p>
        <span class="border border-secondary rounded">1</span>
      </li>
    </ul>
  </div>
  <div class="col-lg">
    <div class="col-sm mt-2 rounded-pill title mx-auto d-block">
      <p class="text-center fs-1">Listo</p>
    </div>
    <ul class="list-group table-listo mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center mt-1 mb-1">
        Sandwich de jamón y queso
        <span class="border border-secondary rounded">1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center mt-1 mb-1">
        Sandwich de jamón y queso
        <span class="border border-secondary rounded">1</span>
      </li>
    </ul>
  </div>
  <div class="col-sm">
    <div class="col mx-auto d-block text-center">
      <button type="button" class="btnMenu btn mt-3 btnProceso">Proceso</button>
    </div>
    <div class="col mx-auto d-block text-center">
      <button type="button" class="btnMenu btn mt-3 btnDespacho">Despacho</button>
    </div>
    <div class="col mx-auto d-block text-center">
      <button type="button" class="btnMenu btn mt-3">Pedidos</button>
    </div>
  </div>
</div>