<!--Menú-->
<app-home-header></app-home-header>


<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #1</button>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #2</button>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #3</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #4</button>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #5</button>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <button type="button" class="rounded-pill text-center mt-3 fs-3 btnBooking btns" routerLink="/menu">Mesa #6</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn col-6 mx-auto d-block mt-3" routerLink="/home"><i class="fas fa-reply fs-1"></i></button>
    </div>
    <div class="col">
      <button type="button" class="btnBooking btn col-6 mx-auto d-block mt-3" routerLink="/menu">Ver Carta</button>
    </div>
  </div>
</div>