.container{
  margin-top: 10vh;
  margin-bottom: 5rem;
}

/*Mesas img*/
.imgTable{
  height: 15vh;
}

/*botones*/
.btnBooking{
  color: var(--color-white);
  font-family: var(--font-main);
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 24px;
}

/*Mesas btns*/
.btns{
  width: 100% !important;
}

.fa-reply{
  color: var(--color-white);
}
.fa-reply:hover{
  color: rgb(194, 194, 194);
}
.btn:focus{
  box-shadow: none;
}
