<!-- <p>booking works!</p> -->
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #1</p>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #2</p>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #3</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #4</p>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #5</p>
    </div>
    <div class="col">
      <img src="../../../assets/mesa_on.png" alt="" class="img-table mx-auto d-block">
      <p class="rounded-pill text-center mt-3 fs-3">Mesa #6</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn col-6 mx-auto d-block mt-3"><i class="fas fa-reply fs-1"></i></button>
    </div>
    <div class="col">
      <button type="button" class="btnBooking btn col-6 mx-auto d-block mt-3">Cocinero</button>
    </div>
  </div>
</div>