<!--Menú-->
<app-home-header></app-home-header>

<div class="container">
  <div class="row">
    <div class="col text-center" *ngFor="let table of tables | slice:0:3;"> <!-- Slice limita la cantidad de resultados -->
      <app-buttons-tables [table]="table"></app-buttons-tables>
    </div>
  </div>
  <div class="row">
    <div class="col text-center" *ngFor="let table of tables | slice:3;"> <!-- Slice limita la cantidad de resultados -->
      <app-buttons-tables [table]="table"></app-buttons-tables>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button type="button" class="btn col-6 mx-auto d-block mt-3" routerLink="/home"><i
          class="fas fa-reply fs-1"></i></button>
    </div>
    <div class="col">
      <!-- <button type="button" class="btnBooking btn col-6 mx-auto d-block mt-3" routerLink="/menu">Ver Carta</button> -->
    </div>
  </div>
</div>

<!-- COMENTARIOS PARA REVISAR -->
<!-- DIV que pinta el botón de forma "manual" -->
<!--
  <div class="col text-center">
    <button type="button" class="btnTable" routerLink="/menu">
      <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
      <p class="rounded-pill text-center mt-3 fs-3 btnBooking btns"> Mesa #6</p>
    </button>
  </div> -->

<!-- DIV que pinta de forma dinámica las mesas -->
<!--
  <button type="button" class="btnTable" routerLink="/menu">
    <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3">
    <img src="../../../assets/mesa_off.png" alt="" class="imgTable mx-auto d-block mt-3">
    <p class="rounded-pill text-center mt-3 fs-3 btnBooking btns"> {{ table.name }}</p>
  </button>
-->