.container {
  margin-top: 5vh;
  margin-bottom: 5rem;
}

/*logo*/
.logo-home {
  height: 25vh;
}

/*Bienvenid@s*/
p {
  color: var(--color-white);
  font-family: var(--font-main);
  background-color: var(--color-red);
  font-weight: 500;
}

/*mesero, cocinero*/
.img-home {
  height: 15vh;
}

/*botones*/
.btnIcon {
  background-color: #26221D;
}

.btnHome {
  color: var(--color-white);
  font-family: var(--font-main);
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 24px;
}

.btnOrder {
  background-color: var(--color-red);
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: 0 0 0 0.25rem #ffbf006b;
}
