<section class="container">
  <img src="../../../assets/home_logo.png" alt="Icono logo" class="logo-home rounded mx-auto d-block mt-5">

  <section style="width: 80%" class="mx-auto">
    <p class="rounded-pill text-center mt-3 fs-1">Bienvenid@</p>
  </section>

  <section class="container justify-content-center">
    <section class="row mt-2">
      <div class="col text-center">
        <button type="button" class="btnIcon" routerLink="/booking">
          <img src="../../../assets/mesero.png" alt="Icono Mesero" class="img-home mx-auto d-block mt-4">
          <p class="btnHome btn mx-auto d-block mt-3">Mesero</p>
        </button>
      </div>
      <div class="col text-center col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <button type="button" class="btnIcon" routerLink="/kitchen">
          <img src="../../../assets/cocinero.png" alt="Icono Cocinero" class="img-home mx-auto d-block mt-4">
          <p class="btnHome btn mx-auto d-block mt-3">Cocinero</p>
        </button>
        <button type="button" class="btnHome btn col-4 mx-auto d-block mt-5 btnOrder" routerLink="/orders">Órdenes</button>
      </div>
    </section>
  </section>
</section>
