<div class="container">
  <img src="../../../assets/home_logo.png" alt="" class="logo-home rounded mx-auto d-block mt-5">

  <div style="width: 80%" class="mx-auto">
    <p class="rounded-pill text-center mt-3 fs-1">Bienvenid@</p>
  </div>

  <div class="container justify-content-center">
    <div class="row mt-2">
      <div class="col-sm-5 col-md-6">
        <img src="../../../assets/mesero.png" alt="" class="img-home mx-auto d-block mt-4">
        <button type="button" class="btnHome btn col-6 mx-auto d-block mt-3" routerLink="/booking">Mesero</button>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <img src="../../../assets/cocinero.png" alt="" class="img-home mx-auto d-block mt-4">
        <button type="button" class="btnHome btn col-6 mx-auto d-block mt-3" routerLink="/kitchen">Cocinero</button>
        <button type="button" class="btnHome btn col-6 mx-auto d-block mt-5" routerLink="/orders">Órdenes</button>
      </div>
    </div>
  </div>
</div>
