<!--
<div>
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.nombre}}
    </li>
  </ul>
</div> -->

<!-- <div>
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.status}}
    </li>
  </ul>
</div> -->

<!-- <app-home-header></app-home-header> -->
<!-- <app-booking></app-booking> -->
<!-- <app-home-body></app-home-body> -->
<!-- <app-menu></app-menu> -->
<!-- <app-kitchen></app-kitchen> -->
<!-- <app-orders></app-orders> -->

<!--pinta la vista de acuerdo al router-->
<router-outlet></router-outlet>
<app-home-footer></app-home-footer>