.logo-home {
  height: 40vh;
}
p {
  color: white;
  font-family: 'Stick No Bills', sans-serif;
  background-color: #8A0300;
  font-weight: 500;
  font-size: 48px;
}

.container{
  color: white;
}
.img-home {
  height: 25vh;
}

.btnHome{
  color: white;
  font-family: 'Stick No Bills', sans-serif;
  background-color: #FE9525;
  font-weight: 500;
  font-size: 24px;
}