<img src="../../../assets/home_logo.png" alt="" class="logo-home rounded mx-auto d-block mt-5">

<div style="width: 80%" class="mx-auto">
  <p class="rounded-pill text-center mt-3 fs-3">Bienvenidx</p>
</div>

<div class="container justify-content-center">
  <div class="row mt-2">
    <div class="col-sm-5 col-md-6">
      <img src="../../../assets/mesero.png" alt="" class="img-home mx-auto d-block mt-5">
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <img src="../../../assets/cocinero.png" alt="" class="img-home mx-auto d-block mt-5">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-6 col-md-5 col-lg-6">
      <button type="button" class="btnHome btn btn-warning col-6">Mesero</button>
    </div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <button type="button" class="btnHome btn btn-warning col-6">Cocinero</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-6 col-md-5 col-lg-6"></div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <button type="button" class="btnHome btn btn-warning col-6">Órdenes</button>
    </div>
  </div>
</div>
