.navbar{
  height: 15vh;
  background-color: var(--color-red);
  color: var(--color-white);
  font-family: var(--font-main);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.logo{
  height: 15vh;
}

.navbar-toggler:focus{
  box-shadow: none;
}

/*barras menú*/
.fa-bars{
  color: var(--color-orange);
  font-size: 30px;
}

.navbar-nav{
  align-items: center;
  background-color: var(--color-red);
}
a {
  color: white;
  font-family: var(--font-main);
  color: var(--color-orange);
}
.nav-link:hover{
  color: #bb6100;
}
.nav-link:focus, .nav-link:hover {
  color: var(--color-white);
}
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}
