.navbar{
  height: 15vh;
  background-color: #8A0300;
  color: white;
  font-family: 'Stick No Bills', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}
.logo{
  height: 15vh;
}

.navbar-toggler:focus{
  box-shadow: none;
}
.fa-bars{
  color: #FE9525;
  font-size: 30px;
}

.navbar-nav{
  align-items: center;
  background-color: #8a1817;
}
a {
  color: white;
  font-family: 'Stick No Bills', sans-serif;
  color: #FE9525;
}
.nav-link:hover{
  color: #bb6100;
}
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}
