.container {
    margin-top: 3vh;
}

.titleRed {
    color: #df2218;
    font-weight: 500;
    padding: 0;
}

.titleGreen {
    color: #1CA10D;
    font-weight: 500;
    padding: 0;
}


p {
    font-family: var(--font-main);
    margin-bottom: 0;
    margin: 0 0.5rem;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    font-family: var(--font-main);
    color: var(--color-white);
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 80% !important;
}

.btn:focus {
    box-shadow: none;
}

span {
    width: 10%;
}

.spanRed {
    border: 2px solid #8a02007c !important;
}

.spanGreen {
    border: 2px solid #1CA10D !important;
}

li {
    user-select: none;
}

.timer {
    color: var(--color-white);
}

.tableDone {
    background-color: #106a068a;
    border: 10px solid #1CA10D !important;
    cursor: move;
}

.tablePending {
    background-color: #8a02007c;
    border: 10px solid var(--color-red) !important;
    cursor: move;
}

.example-list {
    /* border: solid 1px #ccc; */
    min-height: 60px;
    /* background: white; */
    /* border-radius: 4px;
    overflow: hidden;
    display: block; */
}
