<!--menú-->
<app-home-header></app-home-header>
<div class="container">
  <div class="row mx-auto">
    <div class="col-sm mt-2">
      <button type="button" class="btnMenu btnColor btn btn-lg fs-2 col-6  mx-auto d-block" (click)="changeTypeMenu('desayuno')">Desayuno</button> <!-- -->
    </div>
    <div class="col-sm mt-2">
      <button type="button" class="btnMenu btnColor btn btn-lg fs-2 col-6  mx-auto d-block" (click)="changeTypeMenu('menu')">Menú</button>
    </div>
    <div class="col-sm mt-2">
      <p class="text-center fs-1">{{selectedTable}}</p>
      <!--{{auxilio}} [(ngModel)]="saveTableName" #desespero [innerHTML]="auxilio?.htmlcontent" {{ help() }} *ngIf="auxilio"-->
    </div>
  </div>
  <div class="row  mx-auto">
    <div class="col-sm">
      <ul class="list-group tableMenu mb-2" >
        <app-template-products *ngFor="let product of productsFilter" [productName]="product.nombre" [productPrice]="product.precio" [productType]="product.tipo" ></app-template-products>
      </ul>
    </div>
    <div class="col-sm">
      <ul class="list-group tableOrder">
        <!--<li class="list-group-item mt-1 mb-1">--> <!-- d-flex justify-content-between align-items-center -->
          <!-- <span class="col-sm text-center"> Sandwich de jamón y queso </span> -->
          <p class="text-center fs-3 mb-0 btnMenu">Pedido</p>
          <app-counter-input *ngFor="let item of items" [itemName]="item.product" [itemPrice]="item.price"> </app-counter-input>
          <!-- <span class="col-sm text-center">costo Total</span> -->
          <!-- <button class="itemsIcons"><i class="fas fa-plus-circle rotate"></i></button> -->
        <!-- </li> -->
      </ul>
      <p class="text-end fs-3 mb-0 ">Total: $400.00</p>
    </div>
  </div>
  <div class="row mt-5 containerBotton">
    <div class="col">
      <button type="button" class="btn col-6 mx-auto d-block mt-3" routerLink="/booking"><i
          class="fas fa-reply fs-1"></i></button>
    </div>
    <div class="col">
      <input type="text" placeholder="Cliente: _______________________" class="form-control" />
    </div>
    <div class="col">
      <button type="button" class="btnMenu btn-lg btn col-6 mx-auto d-block mt-3" routerLink="/orders">Ordenar</button>
    </div>
  </div>
</div>