.container{
    margin-top: 5vh;
    margin-bottom: 5rem;
}
p {
    color: #FE9525;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 500;
}
.btnMenu{
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    background-color: #FE9525;
    font-weight: 500;
    font-size: 24px;
}
.btn:focus{
    box-shadow: none;
}

.table-menu{
    background-color: #8a02007c;
    border: 10px solid #8A0300!important;
}
.table-order{
    background-color: #fe95257c;
    border: 10px solid #FE9525!important;
}
li{
    background-color: #FFFFFF;
}
.items-icons{
    background-color: transparent;
    border: 1px solid transparent;
}
.rotate{
    transform: rotate(-45deg);
}

.containerBotton{
    align-items: flex-end;
}
.fa-reply{
    color: white;
}
.fa-reply:hover{
    color: rgb(194, 194, 194);
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(237 148 33 / 75%);
}