.container{
    margin-top: 5vh;
    margin-bottom: 5rem;
}

/*Mesa #2*/
p {
    color: var(--color-orange);
    font-family: var(--font-main);
    font-weight: 500;
}

/*botones*/
.btnMenu{
    color: var(--color-white);
    font-family: var(--font-main);
    background-color: var(--color-orange);
    font-weight: 500;
    font-size: 24px;
}

.btn:focus{
    box-shadow: none;
}

.tableMenu{
    background-color: #8a02007c;
    border: 10px solid var(--color-red) !important;
}
.tableOrder{
    background-color: #fe95257c;
    border: 10px solid var(--color-orange) !important;
}
li{
    background-color: #FFFFFF;
}

/*+*/
.itemsIcons{
    background-color: transparent;
    border: 1px solid transparent;
}

/*x*/
.rotate{
    transform: rotate(-45deg);
}

.containerBotton{
    align-items: flex-end;
}
.fa-reply{
    color: var(--color-white);
}
.fa-reply:hover{
    color: rgb(194, 194, 194);
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(237 148 33 / 75%);
}