.btnTable {
  background-color: #26221D;
}

.imgTable {
  height: 15vh;
}

.btnTitle {
  color: var(--color-white);
  font-family: var(--font-main);
  background-color: #1CA10D;
  font-weight: 500;
  font-size: 24px;
}

.btnRed {
  background-color: var(--color-red);
}
