<button type="button" class="btnTable" (click)="tableStatus=!tableStatus"> <!--routerLink="/menu"-->
  <!--Mesa desocupada-->
  <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3" *ngIf="!tableStatus">
  <p class="rounded-pill text-center mt-3 fs-3 btnTitle btns" *ngIf="!tableStatus"> {{ tableName }}</p>
  <!--Mesa ocupada-->
  <img src="../../../assets/mesa_off.png" alt="" class="imgTable mx-auto d-block mt-3" *ngIf="tableStatus">
  <p class="rounded-pill text-center mt-3 fs-3 btnTitle btns btnRed" *ngIf="tableStatus"> {{ tableName }}</p>
</button>
<!-- *ngIf="courses.length; then coursesList; else noCourses" -->

<!-- <button type="button" class="btnTable" (click)="{{tableStatus}}">
  <img src="../../../assets/mesa_on.png" alt="" class="imgTable mx-auto d-block mt-3" *ngIf={{tableStatus}}>
  <img src="../../../assets/mesa_off.png" alt="" class="imgTable mx-auto d-block mt-3" *ngIf={{tableStatus}}>
  <p class="rounded-pill text-center mt-3 fs-3 btnBooking btns" *ngIf={{tableStatus}}> {{tableName}} </p>
  <p class="rounded-pill text-center mt-3 fs-3 btnBooking btns btnRed" *ngIf={{tableStatus}}> {{tableName}} </p>
</button> -->